<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @role.title %>
</p>

<p>
  <strong>Route:</strong>
  <%= @role.route %>
</p>

<p>
  <strong>Controller:</strong>
  <%= @role.controller %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
